/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  /* Masai Brand Colors */
  --masai-red: #ed0331;
  --text-dark: #0a0a0a;
  --text-gray: #4b4b4b;
  --bg-light: #f7f7fc;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}